/* Estilos generales del menú principal */
body {
    font-family: 'Quicksand', sans-serif; 
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar padding predeterminado */

}


.header-contenido {
    background-color: #e71488;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-contenido h1 {
    margin: 0;
}

h1{
    margin: 0; /* Quitar margen del título */
    text-align: center;
    color: #fff;
    background-color: #e71488;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
    unicode-bidi: isolate;
}

nav {
    background-color:#e71488; /* Color de fondo del menú principal */
    padding: 10px 0; /* Espaciado vertical */
    margin-left: auto; /* Empuja el nav a la derecha */
   
}

nav ul {
    list-style: none; /* Quitar estilo de lista */
    padding: 0; /* Quitar padding */
    display: flex; /* Usar flex para alinear los elementos */
}

/* Estilo para los elementos del menú principal */
nav ul > li {
    display: inline-block; /* Muestra los elementos en línea */
    position: relative; /* Necesario para el submenú */
}


nav a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white; /* Color del texto */
  
    background-color:#e714884c; /* Color de fondo del menú principal */
    color: #ffffff; /* Color del texto */
}

/* Cambiar color al pasar el mouse */
nav a:hover,
nav li .submenu li a:hover {
    background-color:#f562ba; /* Color de fondo al pasar el mouse */
   
    color: #fff; /* Color del texto al pasar el mouse */
}
h2 {
    text-align: center;
    color: #e71488;
    background-color: #fff;
}
/*---------------------------------------------------------------*/
/* Main section */
#Dijes {
    text-align: center;
    /* Centra el texto */
    margin: 20px 0;
    /* Margen superior e inferior */
    color: #e71488;
    background-color: #fff;
}


/* Diseño Responsivo */
@media (min-width: 600px) and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        /* 1 columna en pantallitas */
    }
}

/* Footer  */
footer {
    background-color: #e71488;
    color: rgb(187, 150, 193);
    text-align: center;
    padding: 1rem;
}

footer a {
    color: rgb(187, 150, 193);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        display: block;
    }
}

@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin-right: 30px;
    }
}