#Anillos {
    text-align: center;

    /* Centra el texto */
    margin: 20px 0;

    /* Margen superior e inferior */
    color: $color-principal;
}
// Estilo para las imágenes dentro de las tarjetas
.card-img-top {
    width: 100%; // Ajusta el ancho de la imagen
    height: auto; // Ajusta la altura de la imagen de forma proporcional
    max-height: 200px; // Puedes definir una altura máxima si es necesario
    object-fit: cover; // Asegura que la imagen cubra el contenedor sin distorsionarse
}
footer{

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    } 
}