footer {
    background-color: $color-principal;
    color: $color-fondo;
    text-align: center;
    padding: 1rem;

    a {
        color: $color-texto;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}