.header-contenido {
    background-color: $color-principal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;



    h1 {
        margin: 0;
        color: $color-texto;
    }
}

h1 {
    margin: 0;

    /* Quitar margen del título */
    color: $color-texto;
    background-color: $color-principal;
}

nav {
    background-color: $color-principal;

    /* Color de fondo del menú principal */
    padding: 10px 0;

    /* Espaciado vertical */
    margin-left: auto;

    /* Empuja el nav a la derecha */

    ul {
        list-style: none;

        /* Quitar estilo de lista */
        padding: 0;

        /* Quitar padding */
        display: flex;

        /* Usar flex para alinear los elementos */

        >li {
            display: inline-block;

            /* Muestra los elementos en línea */
            position: relative;

            /* Necesario para el submenú */
        }
    }

    a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: $color-fondo;

        /* Color del texto */

        background-color: #e714884c;

        /* Color de fondo del menú principal */
        color: $color-fondo;


        &:hover {
            background-color: $color-hover;

            /* Color de fondo al pasar el mouse */

            color: $color-texto;

            /* Color del texto al pasar el mouse */
            transform: scale(1.1);
            /* Escalar al pasar el mouse */
        }
    }

    li .submenu li a:hover {
        background-color: $color-hover;

        /* Color de fondo al pasar el mouse */

        color: $color-hover;

        /* Color del texto al pasar el mouse */
    }

    h3 {
        text-align: center;
        color: #e71488;
        background-color: #fff;
    }
}

/* Estilo para los elementos del menú principal */

/* Cambiar color al pasar el mouse */