main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr;
    gap: 1rem;
}

// Hero Section
#hero {
    text-align: center;
    position: relative;

    img {
        width: 100%; /* Hacer que la imagen sea responsiva */
        height: 100%; /* Mantener la proporci贸n */
    }

    button {
        position: absolute;
        top: 80%;
        left: 75%;
        display: block;
        background-color: #e71488;
        color: white;
        border: none;
        cursor: pointer;
        transform: translate(10%, 10%);
        border-radius: 20px;
        padding: 0.5rem;

        &:hover {
            background-color: #e7148833;
            border-radius: 20px;
            padding: 0.5rem;
        }
    }
}

img {
    width: 100%;
    height: 80px;
}

// Video Container
.video-container {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Espacio alrededor del contenedor */

    .video {
        flex: 1; /* Permite que el video ocupe el espacio disponible */
        text-align: center; /* Centra el video dentro de su contenedor */
    }

    .info-sections {
        flex: 1; /* Permite que la secci贸n de informaci贸n ocupe el espacio disponible */
        margin-left: 20px; /* Espacio entre el video y las secciones */
    }
}

// Suscribirse Section
#Suscribirse {
    input[type="email"],
    button {
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    button {
        background-color: #e71488;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #e7148833;
        }
    }
}

// C贸mo Comprar Section
#como-comprar {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
        padding-left: 1.5rem;

        ul {
            padding-left: 1.5rem;
        }
    }
}
