#Pulseras {
    text-align: center;

    /* Centra el texto */
    margin: 20px 0;

    /* Margen superior e inferior */
    color: $color-principal;
}
footer{

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    } 
}